@page
@model Web_Site_Project.Pages.DeleteItemModel
@{
    ViewData["Title"] = "DeleteItem";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h1 class="hdr-text">Enter the information below to Delete a Item</h1>

    <form name="DeleteItem" method="post">
        <div>
            <label asp-for="New_Item.ItemCode" class="lbl-text">Item Code:</label>
            <input type="text" placeholder="Required" asp-for="New_Item.ItemCode" required>            
        </div>

        <input type="submit" class="btn-expand" value="Submit">
    </form>

    <br />
    <h3 class="imp-message"><b>@Html.Raw(Model.Message)</b></h3>
</body>
</html>